body {
    font-size: 13px;
    font-family: 'Open-sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #506784;
}

.controls-panel {
    background: #f3f6fa;
    padding: 10px;
    border-bottom: 1px solid #c8dfe3;
}

.Select-control {
    border-color: #c8dfe3 !important;
}

.jsoneditor-menu {
    background-color: #506784 !important;
    border-color: #c8dfe3 !important;
}

.jsoneditor {
    border-color: #c8dfe3 !important;
}

a {
    color: #119dff;
    font-weight: normal;
}

a:hover{
    color: #0d76bf;
}
